# Dependencies
node_modules/
.pnp
.pnp.js

# Testing & Coverage
coverage/

# Production & Build outputs
dist/
dist-ssr/
build/
*.tsbuildinfo

# Local Environment Variables & DB backups
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.db-journal

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and OS files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary Archives
*.zip
*.rar
*.tar.gz
